* {
    margin: 0;
    padding: 0; 
}

.flex {
    display: flex;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.header {
    width: 100%;
    height: 46px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

.header .navbar .nav-items {
    padding: 13px 26px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.header .navbar .nav-items:hover {
    background-color: #ccc;
    color: #000;
}

.header :last-child {
    padding: 13px 26px;
}

.header :last-child:hover {
    background-color: red;   
    cursor: pointer;
}

.content {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(../img/chicago.jpg) top center / cover no-repeat;
}

.content .title {
    position: absolute;
    bottom: 48px;
}

.info {
    width: 800px;
    margin: 0 auto;
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.info .band-name {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 3px;
}

.info .band-title {
    text-align: center;
    color: #939292;
    font-style: italic;
}

.info .band-desc {
    text-align: justify;
}

.info .member {
    margin-top: 36px;
    display: flex;
    justify-content: space-around;
}

.info .member p {
    text-align: center;
    margin-bottom: 16px;
    text-shadow: 5px 1px 5px;
}

.info .member img {
    width: 200px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px;
}

.tour-dates {
    background-color: #000;
}

.tour-dates .tour {
    width: 800px;
    margin: 0 auto;
    padding: 64px 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.tour-dates .tour .title {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 3px;
}

.tour-dates .tour .slogan {
    text-align: center;
    color: #939292;
    font-style: italic;
}

.tour-dates .tour .time div {
    background-color: #fff;
    color: #939292;
    padding: 8px 16px;
    border-bottom: 1px solid #939292;
    display: flex;
    justify-content: space-between;
}

.tour-dates .tour .time div span {
    color: #fff;
    background-color: red;
    margin-left: 12px;
    padding: 2px 4px;
}

.tour-dates .tour .time div:last-child span {
    background-color: #000;
    padding: 2px 8px;
    border-radius: 50px;
}

.tour-dates .tour .place {
    display: flex;
    justify-content: space-between;
}

.tour-dates .tour .place .place-items {
    width: 250px;
    background-color: #fff;
    color: #000;
}

.tour-dates .tour .place .place-items img {
    width: 250px;
}

.tour-dates .tour .place .place-items div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
}

.tour-dates .tour .place .place-items div p:first-child {
    font-weight: bold;
}

.tour-dates .tour .place .place-items div p:nth-child(2) {
    color: #939292;
}

.tour-dates .tour .place .place-items div button {
    width: 50%;
    padding: 9px 18px;
    background-color: #000;
    color: #fff;
    border: none;
}

.tour-dates .tour .place .place-items div button:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.contact {
    width: 800px;
    margin: 0 auto;
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact .title {
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 3px;
}

.contact .slogan {
    text-align: center;
    color: #939292;
    font-style: italic;
}

.contact > div {
    display: flex;
    justify-content: space-between;
}

.contact > div .contact-input input {
    padding: 10px;
}

.contact > div .contact-input div :last-child {
    margin-left: 20px;
}

.contact > div .contact-input > input {
    width: 372px;
    margin-top: 8px;
}

.contact button {
    width: 50%;
    padding: 9px 18px;
    background-color: #000;
    color: #fff;
    border: none;
}

.contact button:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

.map {
    background: url(../img/map.jpg) top center / cover no-repeat;
    padding-top: 50%;
}





